:root {
    --FOREGROUND: #dddddd;
    --BACKGROUND: #191919;
    --BLACK: #313131;
    --RED: #bf616a;
    --GREEN: #badc58;
    --YELLOW: #f6b93b;
    --BLUE: #2980b9;
    --MAGENTA: #b53471;
    --CYAN: #88c0d0;
    --WHITE: #e5e9f0;
    --GRAY: #888888;
    --ALTBLACK: #4c566a;
    --ALTRED: #bf616a;
    --ALTGREEN: #a3be8c;
    --ALTYELLOW: #ebcb8b;
    --ALTBLUE: #81a1c1;
    --ALTMAGENTA: #b48ead;
    --ALTCYAN: #8fbcbb;
    --ALTWHITE: #eceff4;

    --al: #262626ff;
    --bg: #191919ff;
    --se: #303030ff;
    --fg: #ffffffff;
    --ac: #5297c5;
    --asd: #2980b9;
}
